{% extends "blog/base.html" %}
{% block nav_about %}active{% endblock %}

{% block page_title %} About {% endblock %}

{% block blog_main %}
<div class="blog-post">
	<h2>About Me</h2>
	<p>Currently working at world's leading EDA tool company, 
		the job is more related to semiconductor manufacturing. 
		I had my bachelor degree in telecommunication engineering
		and my master degree in System-on-chip design.</p>
	<p>I am enthusiastic about technologies. I am willing to learn
		new techniques and willing to turn them into practice. I 
		love Python, a lot: building web sites, automation with 
		scripts, data analysis and processing, computer vision - all
		of these are making me excited.</p>
	<p>In the free time, travelling would be the most pleasant thing
		I would like to spend with my family. Taking photographs along
		the journey and making them an album with stories is really
		comforting.</p>
	<p>I keep the habit of writing articles in English, for the reason
		that I like to keep knowledge of technology recorded in the
		international language so that it could be shared by more people
		and be valuable to more people. Besides, I need to practise it
		anyway.</p>
		<p></br></p>
	<h2>About the Blog</h2>
	<p>The blog is where I write down my notes and sharings about
		any topics that could be found interesting. There might be
		general things that I met during my study or work that could
		be helpful for others.</p>
	<p>As a Pythonist, the backend of this blog is built by Django, with
		the adopted frontend templates from Bootstrap. (In the beginning
		there is no frontend at all, only htmls. :D) With more knowledge I
		can learn about HTML, CSS, and JavaScript, I could sooner build up
		the evolved frontend for the website. Plus, more apps could be 
		plugged in for more functionalities.</p>
	<p>If you find any of the information is incorrect or inappropriate 
		in my blogs, please feel free to contact me by email.</p> 
	<p>All copywrites on the website are reversed by me unless it is specifically
		stated, otherwise please contact me by email if you would like to 
		use them in other places.</p>
	<p>My email: <a href="mailto:{{ article.author.email }}?subject=feedback">george.guo.chen@outlook.com</a></p>
</div>
{% endblock %}
