<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../static/blog/icons/favicon.ico">

    <title>{% block page_title %}Long Way From Home{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="../../../static/blog/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../../static/blog/css/blog.css" rel="stylesheet">

    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="../../static/blog/include/lib/highlight/styles/github.css">
    <script type="text/javascript" src="../../static/blog/include/lib/highlight/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </head>

  <body>

 	<div class="container">

		{% block home_title %}
			<div class="blog-header">
				{# title #}
    			<h1 class="blog-title">Long Way From Home</h1>
    			{# blog motto #}
        		<p class="lead blog-description">Det blev en ensam lång väg hem, det var tur att du kom.</p>
    		</div>
		{% endblock %}
	</div>
	
    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
			<a class="blog-nav-item {% block nav_home %}{% endblock %}" href="{% url 'home' %}">Home</a>
			<a class="blog-nav-item {% block nav_blog %}{% endblock %}" href="{% url 'blogs' %}">Blogs</a>
			<a class="blog-nav-item {% block nav_photos %}{% endblock %}" href="#">Photos</a>
			<a class="blog-nav-item {% block nav_about %}{% endblock %}" href="#">About</a>
        </nav>
      </div>
    </div>


    <div class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">
        	{% block blog_main %}
            	{# blog content #}
            	<div class="blog-post">
            		<h2 class="blog-post-title">Failsafe_title</h2>
            		<h3 class="blog-post-subtitle">Failsafe_subtilte</h3>
            
            		<p class="blog-post-meta">Failsafe_time by <a href="#">Failsafe_author</a>, Failsafe_category</p>
					Failsafe_content
    			</div><!-- /.blog-post -->
            {% endblock %}          
          
			{% block nav_pager%}
          		{# navigator pager #}
			{% endblock %}
        </div><!-- /.blog-main -->
		
		{% block side_bar %}
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        	<div class="sidebar-module sidebar-module-inset">
				<h4>About</h4>
		        <p>Chen Guo is very motivated and good at handling pressure. He is an accountable team player, and also has shown ability of cooperation in his scrum master role.
		        </p>
			</div>
		{% block sidebar_archives %}	
			<div class="sidebar-module">
 		   	<h4>Archives</h4>
 		       <ol class="list-unstyled">

					{% for month, articles in archives %}
						<li><a href="{% url 'blog_archive' month.year month.month %}">{{ month|date:"F o" }} ({{ articles|length }})</a></li>
					{% endfor %}
        			<!--<li><a href="#">Home</a></li>-->
  		      </ol>
  		  </div>
		{% endblock %}
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
              <li><a href="#">LinkedIn</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->
        {% endblock %}

      </div><!-- /.row -->

    </div><!-- /.container -->

    <footer class="blog-footer">
      <p>Powered by Django</p>
      <p>Copyright &copy; 2010 - 2015 George Chen</p>
      <!--<p>Copyright &copy; Bootstrap</p>-->
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
    <script src="../../static/blog/bootstrap/js/bootstrap.min.js"></script>
    <!--<script src="../../assets/js/docs.min.js"></script> -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
  </body>
</html>
