{% extends "blog/base.html" %}

{% block page_title %} {{ article.title }} {% endblock %}


{% block nav_blog %}active{% endblock %}

{% block blog_main %}

	<div class="blog-post">
            <h2 class="blog-post-title">{{ article.title }}</h2>
            {% if article.subtitle %}
                <h3 class="blog-post-subtitle">{{ article.subtitle }}</h3>
            {% endif %}
            <p class="blog-post-meta">
            	 
            	<a href="{% url 'blogs'%}?category_name={{article.category.name}}">{{ article.category }}</a>

	             | {{ article.publish_time|date:"Y-m-d H:i"}} by 
            	<a href="mailto:{{ article.author.email }}?subject=feedback">{{ article.author }}</a>
			</p>
        	{{ article.content|safe }}
        	{% if article.tags.all %}
        	<p class="blog-post-meta">
        		Tags: 
	    	<!--| {{ article.tags.all|join:", " }}-->
	        {% for tag in article.tags.all %}
	        	<a href ="{% url 'blogs' %}?tag_name={{tag.name}}">{{tag.name}}</a>
	        {%endfor%}
	        </p>
	    {% endif %}  
    </div><!-- /.blog-post -->


{% endblock%}


