{% extends "blog/base.html" %}

{% block page_title %} {{ article.title }} {% endblock %}


{% block nav_blog %}active{% endblock %}

{% block blog_main %}

	<div class="blog-post">
            <h2 class="blog-post-title">{{ article.title }}</h2>
            {% if article.subtitle %}
                <h3 class="blog-post-subtitle">{{ article.subtitle }}</h3>
            {% endif %}
            <p class="blog-post-meta">
            	{{ article.publish_time|date:"Y-m-d H:i"}} by 
            	<a href="mailto:{{ article.author.email }}?subject=feedback">{{ article.author }}</a>, 
            	{{ article.category }}
            
	            {% if article.tags.all %}
	                | {{ article.tags.all|join:", " }}
	            {% endif %}
			</p>
        {{ article.content|safe }}
    </div><!-- /.blog-post -->


{% endblock%}

{% block side_bar %}
<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
	<div class="sidebar-module sidebar-module-inset">
		<h4>About</h4>
		<p>Chen Guo is very motivated and good at handling pressure. He is an accountable team player, and also has shown ability of cooperation in his scrum master role.
		</p>
	</div>

	<div class="sidebar-module">
		<h4>Archives</h4>
		<ol class="list-unstyled">
			<li><a href="#">March 2014</a></li>
			<li><a href="#">February 2014</a></li>
			<li><a href="#">January 2014</a></li>
			<li><a href="#">December 2013</a></li>
			<li><a href="#">November 2013</a></li>
			<li><a href="#">October 2013</a></li>
			<li><a href="#">September 2013</a></li>
			<li><a href="#">August 2013</a></li>
			<li><a href="#">July 2013</a></li>
			<li><a href="#">June 2013</a></li>
			<li><a href="#">May 2013</a></li>
			
		</ol>
	</div>
	<div class="sidebar-module">
		<h4>Elsewhere</h4>
		<ol class="list-unstyled">
			<li><a href="#">GitHub</a></li>
			<li><a href="#">Twitter</a></li>
			<li><a href="#">Facebook</a></li>
			<li><a href="#">LinkedIn</a></li>
		</ol>
	</div>
</div><!-- /.blog-sidebar -->
{% endblock %}
