{% extends "blog/base.html" %}

{% block home_title %}
	<div class="blog-header">
    	<h1 class="blog-title">Long Way From Home</h1>
        <p class="lead blog-description">Det blev en ensam lång väg hem, det var tur att du kom.</p>
    </div>
{% endblock %}

{% block nav_home %}active{% endblock %}

{% block blog_main %}

    {% for article in articles %}
        <div class="blog-post">
            <h2 class="blog-post-title"><a href = "blog/details/{{ article.id }}">{{ article.title }}</a></h2>
            {% if article.subtitle %}
                <h3 class="blog-post-subtitle">{{ article.subtitle }}</h3>
            {% endif %}
            <p class="blog-post-meta">
            	{{ article.publish_time|date:"Y-m-d H:i"}} by 
            	<a href="mailto:{{ article.author.email }}?subject=feedback">{{ article.author }}</a>, 
            	{{ article.category }}
            
	            {% if article.tags.all %}
	                | {{ article.tags.all|join:", " }}
	            {% endif %}
			</p>
        {{ article.content|truncatewords_html:150|safe }}
        <p class="blog-post-meta"><a href = "/blog/details/{{ article.id }}">Continue Reading</a></p>      
        </div><!-- /.blog-post -->
    {% endfor %}

{% endblock %}

{% block sidebar_archives %}	
	<div class="sidebar-module">
    	<h4>Archives</h4>
        <ol class="list-unstyled">
        	{% for years, months in archives %}
				{% for month in months %}
				<li><a href="{{ years.year }}/{{month.month}}">{{month|date:"F"}} {{years.year}}</a></li>
				{% endfor %}
			{% endfor %}
        	<!--<li><a href="#">Home</a></li>-->
        </ol>
    </div>
{% endblock %}


{% block nav_pager %}
	<nav>
		<ul class="pager">
			{% if articles.has_previous %}
        		<li><a href="?page={{ articles.previous_page_number}}">Newer Posts</a></li>
        	{% endif %}
        	{% if articles.has_next %}
            	<li><a href="?page={{ articles.next_page_number }}">Older Posts</a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}

